.margin {
    margin: 0px 0px 0px 130px;
    padding: 20px;
    /* position: fixed; */
    background-color: #F1F2F2;
    /* padding-bottom: 70px; */
    /* overflow: auto; */
}

.chimney-main {
    background-color: #F1F2F2;
    position: relative;
}

.chimney-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.chimney {
    margin-left: 5px;
    color: #451E37;
    font-size: 25px;
}

.welcome {
    font-size: 40px;
}

.lorem {
    margin: 0px 0px 15px 0px;
}

.address {
    font-size: 12px;
    margin-left: 2px;
}

.email {
    outline: none;
    border: none;
}

.email-icon {
    display: flex;
    border: 1px solid #CFCFE1;
    padding: 5px;
    width: 250px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 10px;
}

.user {
    margin-right: 10px;
}

.create {
    padding: 17px 0px 17px 0px;
    width: 262px;
    background-color: #B35291;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 10px;
    border: none;
}

.link {
    color: #5C606B;
    font-size: 12px;
    width: 262px;
    text-align: center;
    margin-bottom: 40px;

}

th {
    text-align: start;
    width: 200px;
}

tr {
    height: 30px;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-top: 1px solid black;
    padding: 20px;
    /* z-index: 1 !important;
    position: relative; */
    background-color: #F1F2F3;
    position: absolute;
 
    left: 0;
    right: 0;
}

.background {
    width: 900px;
    height: 300px;
    position: absolute;
    right: 0px;
    bottom: 11.5rem;
    z-index: 0 !important;
    background-color: #F1F2F2;
}